{% extends 'gym/base.html' %}

{% block title %}
Cadastrar Matrícula | PowerOn
{% endblock %}

{% block page_title %}
Cadastrar Matrícula
{% endblock %}

{% block content %}

<div class="form-container">

    <div class="page-header">
        <div>
            <h2>Nova matrícula</h2>
            <p>Registre uma nova matrícula.</p>
        </div>
    </div>

    <form>

        <div class="form-grid">

            <div class="form-group">
                <label for="codigo_matr">
                    Código da matrícula
                </label>

                <input
                    type="number"
                    id="codigo_matr"
                    name="codigo_matr"
                >
            </div>

            <div class="form-group">
                <label for="cod_aluno">
                    Código do aluno
                </label>

                <input
                    type="number"
                    id="cod_aluno"
                    name="cod_aluno"
                >
            </div>

            <div class="form-group">
                <label for="cod_modalidade">
                    Código da modalidade
                </label>

                <input
                    type="number"
                    id="cod_modalidade"
                    name="cod_modalidade"
                >
            </div>

            <div class="form-group">
                <label for="qtde_aulas">
                    Quantidade de aulas
                </label>

                <input
                    type="number"
                    id="qtde_aulas"
                    name="qtde_aulas"
                    min="1"
                >
            </div>

        </div>

        <div class="form-actions">

            <a href="{% url 'lista_matriculas' %}" class="btn-secondary">
                Cancelar
            </a>

            <button type="submit" class="btn-primary">
                Cadastrar matrícula
            </button>

        </div>

    </form>

</div>

{% endblock %}