{% extends 'gym/base.html' %}

{% block title %}
Matrículas | PowerOn
{% endblock %}

{% block page_title %}
Matrículas
{% endblock %}

{% block content %}

<div class="page-header">

    <div>
        <h2>Matrículas</h2>
        <p>Gerenciamento das matrículas da academia.</p>
    </div>

    <a href="{% url 'cadastrar_matricula' %}" class="btn-primary">
        + Nova matrícula
    </a>

</div>


<div class="table-container">

    <table>

        <thead>
            <tr>
                <th>Código</th>
                <th>Aluno</th>
                <th>Modalidade</th>
                <th>Quantidade de aulas</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td colspan="5" class="empty">
                    Nenhuma matrícula cadastrada.
                </td>
            </tr>

        </tbody>

    </table>

</div>

{% endblock %}