{% extends 'gym/base.html' %}

{% block title %}
Alunos | PowerOn
{% endblock %}

{% block page_title %}
Alunos
{% endblock %}

{% block content %}

<div class="page-header">

    <div>
        <h2>Alunos</h2>
        <p>Gerenciamento dos alunos cadastrados.</p>
    </div>

    <a href="{% url 'cadastrar_aluno' %}" class="btn-primary">
        + Novo aluno
    </a>

</div>


<div class="table-container">

    <table>

        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Data de nascimento</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td colspan="6" class="empty">
                    Nenhum aluno cadastrado.
                </td>
            </tr>

        </tbody>

    </table>

</div>

{% endblock %}