{% extends 'gym/base.html' %}

{% block title %}
Modalidades | PowerOn
{% endblock %}

{% block page_title %}
Modalidades
{% endblock %}

{% block content %}

<div class="page-header">

    <div>
        <h2>Modalidades</h2>
        <p>Gerenciamento das modalidades da academia.</p>
    </div>

    <a href="{% url 'cadastrar_modalidade' %}" class="btn-primary">
        + Nova modalidade
    </a>

</div>


<div class="table-container">

    <table>

        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Professor</th>
                <th>Valor da aula</th>
                <th>Limite de alunos</th>
                <th>Total de alunos</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td colspan="7" class="empty">
                    Nenhuma modalidade cadastrada.
                </td>
            </tr>

        </tbody>

    </table>

</div>

{% endblock %}