{% extends 'gym/base.html' %}

{% block title %}
Professores | PowerOn
{% endblock %}

{% block page_title %}
Professores
{% endblock %}

{% block content %}

<div class="page-header">

    <div>
        <h2>Professores</h2>
        <p>Gerenciamento dos professores cadastrados.</p>
    </div>

    <a href="{% url 'cadastrar_professor' %}" class="btn-primary">
        + Novo professor
    </a>

</div>


<div class="table-container">

    <table>

        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td colspan="5" class="empty">
                    Nenhum professor cadastrado.
                </td>
            </tr>

        </tbody>

    </table>

</div>

{% endblock %}